@tailwind base;
@tailwind components;
@tailwind utilities;

/* Container for all shapes */
.shapes {
    @apply absolute left-0 top-0 h-full w-full;
}

/* Base shape styles */
.shape {
    @apply absolute;
}

/* Individual shape positions */
.s1 { @apply left-[2%] top-[10%]; }
.s2 { @apply left-[5%] top-[30%]; }
.s3 { @apply left-[5%] bottom-[30%]; }
.s4 { @apply left-[2%] bottom-[10%]; }
.s5 { @apply left-[44%] bottom-[10%]; }
.s6 { @apply left-[36%] bottom-[10%]; }
.s7 { @apply top-[20%] right-[25%]; }
.s8 { @apply right-[24%] bottom-[20%]; }
.s9 { @apply right-[2%] top-[10%]; }
.s10 { @apply top-[45%] right-[11%]; }
.s11 { @apply bottom-[10%] right-[2%]; }
.s12 { @apply left-[2%] top-[50%]; }
.s13 { @apply left-[30%] top-[10%]; }
.s14 { @apply left-[55%] bottom-[10%]; }
.s15 { @apply left-[20%] bottom-[20%]; }
.s16 { @apply left-[33%] bottom-[40%]; }
.s17 { @apply left-[22%] bottom-[60%]; }
.s18 { @apply top-[30%] right-[5%]; }
.s19 { @apply right-[5%] bottom-[35%]; }
.s20 { @apply right-[15%] top-[10%]; }
.s21 { @apply top-[55%] right-[25%]; }
.s22 { @apply bottom-[10%] right-[30%]; }
